@model IEnumerable<NamelessWeb.Models.Guitar.Guitars>
@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    ul.products li {
        width: 200px;
        display: inline-block;
        vertical-align: top;
    }
</style>

<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="container body-content">
                <hr />
                <h2 >Inventory</h2>
                <hr />
                <ul class="products">
                    @foreach (var item in Model)
                    {
                        if (item.Availability == 0)
                        {
                                <li>
                                <a href="@Url.Action("Details","Guitar",new {id=item.GuitarId})", style="height:200px;">
                                    @if (item.ImageLink1 != "") { 
                                        <img src="@Url.Content(item.ImageLink1)" style="max-width: 200px; max-height: 200px;">
                                    }
                                    <div style="max-width:300px;">
                                        @Html.DisplayFor(modelItem => item.MDL)
                                    </div>
                                </a>
                                

                            </li>
                        }
                    }
                </ul>

                <hr />
            </div>
        </div>
    </div>
</div>

