@model NamelessWeb.Views.ViewModels.DanhSachLichLamViecViewModel
@{
    ViewBag.Title = "QuanLyLichLamViec";
}
<h2>QuanLyLichLamViec</h2>
<div class="card">
    <div class="container-fliud">
        <div class="container body-content">
            @using (Html.BeginForm("QuanLyLichLamViec", "QuanLyLichLamViec"))
            {

                <button type="submit" value="Save" class="btn btn-primary">Save</button>
            }
        </div>
    </div>
</div>




