@{
    ViewBag.Title = "About";
}
<br />
<h2 style="color:aliceblue">What is Nameless Guitar Inc.</h2>
<h3 style="color:aliceblue">"All we've ever love has been Music." John, Founder</h3>

<p style="color:aliceblue">
    Nameless Guitar Inc. was created due to the boredom of John and his Father.
    Many young adults and grown ups want to learn to play the guitar, but....
    didn't know which to buy, led up to most of them got rip-off.
    May be, it was because of a moment we wished that we can become their helper.
    And that was the story, just want to be someone who is good.
    As the wave of Japanese guitars came over, we know it was a good thing.
    John was a sucker for those JDM items, they are old, but ridiculously good,
    well made, and can create incredible sound. After a year working in a music
    store here, he improved  his skillset and knowledge. And the rest is History.
</p>
