@{
    ViewBag.Title = "Contact";
}
<br />
<h2 style="color:aliceblue;">Contact</h2>

<address style="color:aliceblue">
    Chung cư 16/9 Kỳ Đồng Phường 9 Quận 3<br />
    TPHCM, 70000<br />
    <abbr title="Phone">P:</abbr>
    0122.866.9537  - 090.480.270
</address>
