@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li style="padding-top:20px;"><button class="btn" style=" padding-right:20px">
    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
</button></li>
        <li style="padding-top:20px;"><button class="btn" style=";padding-right:20px;"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></button></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="padding-top: 20px">
        <li><button class="btn" style="padding-right:20px;">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) </button ></li >
        <li><button class="btn" style="padding-right:20px;">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</button></li>
    </ul>
}
